<div class="mt-4">
    <h3> My Products </h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">No. </th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Time Created</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                {{!-- For template engine sum(a, b) use space for var--}}
                <th scope="row">{{ sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-product-modal">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete --}}
<div id="delete-product-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-product-form"></form>

<script>

    var productId;
    var deleteForm = document.forms['delete-product-form']
    var btnDeleteProduct = document.getElementById('btn-delete-product')

    var exampleModal = document.getElementById('delete-product-modal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        productId = button.getAttribute('data-id')
        console.log(productId)
    })

    btnDeleteProduct.onclick = function() {
        deleteForm.action = '/products/' + productId + '?_method=DELETE'
        deleteForm.submit()
    }
</script>